*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
}
.loading
{
    position: relative;
    display: flex;
}
.loading span
{
    position: absolute;
    width: 5px;
    height: 40px;
    transform: rotate(calc(var(--i) * 18deg));
    transform-origin: 0 150px;
}
.loading span::before{
    content: '';
    position: absolute;
    inset: 0;
    background: #f00;
    animation: animate 8s linear infinite;
    animation-delay: calc(var(--i)*0.1s);
}
@keyframes animate
{
    0%
    {
        background: #0f0;
        box-shadow: 0 0 5px #0f0,
        0 0 15px #0f0,
        0 0 30px #0f0,
        0 0 50px #0f0;
        rotate: 0deg;
    }
    20% /* This marks 20% progress through the animation. The element will have transitioned to the styles defined within this keyframe by this point.*/
    {
        background: #0f0;
        box-shadow: 0 0 5px #0f0,
        0 0 15px #0f0,
        0 0 30px #0f0,
        0 0 50px #0f0;
        rotate: 0deg;
    }
    40%
    {
        background: #0f0;
        box-shadow: 0 0 5px #0f0,
        0 0 15px #0f0,
        0 0 30px #0f0,
        0 0 50px #0f0;
        rotate: 90deg;
        filter: hue-rotate(0deg);
    }
    80%
    {
        background: #0f0;
        box-shadow: 0 0 5px #0f0,
        0 0 15px #0f0,
        0 0 30px #0f0,
        0 0 50px #0f0;
        rotate: 90deg;
        filter: hue-rotate(360deg);

    }
    90%
    {
        box-shadow: none;
        rotate: 90deg;
    }
    90.1%,100%
    {
        box-shadow: none;
        background: transparent;
    }
}

